// pages
@import "home";

//components
@import "/components/Header/header.less";

.ant-back-top {
  background: #1088e9;
  justify-content: center;
  align-items: center;
  display: flex;
  color: "#fff";
  border-radius: 3px;
}
